<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginFrom" (ngSubmit) ="onLogin(loginFrom.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="login" formControlName="username">
      <input type="password" id="password" class="fadeIn third"  placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="erroStatus">
      <p>{{ errorMsj }}</p>
    </div>

  </div>
</div>